<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- &useSSL=false -->
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://legaldb.crde0r7adtlp.us-east-2.rds.amazonaws.com:3306/test</property>
		<property name="connection.username">csadmin</property>
		<property name="connection.password">LegalFD2019</property>

		<!-- Set the database dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<!-- This will either be set to create or update -->
		<property name="hbm2ddl.auto">create</property>

		<!-- dbcp connection pool configuration -->
		<property name="dbcp.initialSize">5</property>
		<property name="dbcp.maxTotal">20</property>
		<property name="dbcp.maxIdle">10</property>
		<property name="dbcp.minIdle">5</property>
		<property name="dbcp.maxWaitMillis">-1</property>

		<!-- Name the annotated Entity classes -->
		<mapping class="ca.sheridancollege.beans.RegisterUser" />
		<mapping class="ca.sheridancollege.beans.Payment" />
		<mapping class="ca.sheridancollege.beans.PayAmount" />
		
		<mapping class="ca.sheridancollege.beans.ClientInfo" />
		<mapping class="ca.sheridancollege.beans.ChildExpenses" />
		<mapping class="ca.sheridancollege.beans.SpouseInfo" />
		<mapping class="ca.sheridancollege.beans.MartialInfo" />
		<mapping class="ca.sheridancollege.beans.MatrimonialHome" />
		<mapping class="ca.sheridancollege.beans.Children" />
		
		<mapping class="ca.sheridancollege.beans.LawyerDocEdit" />
		<mapping class="ca.sheridancollege.beans.ClientFile" />
		
	</session-factory>
</hibernate-configuration>
